:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  height:100%;
  width:100%;
  background:'#fff'
}

/* Contenedor básico para el grid */
.grid-container {
  display: grid;
  gap:  var(--gap, 10px); ;
  grid-template-columns: repeat(var(--xs-cols, 1), 1fr); /* xs - número de columnas por defecto */
}

/* Media queries para diferentes tamaños de pantalla */
@media (min-width: 576px) {
  .grid-container {
    grid-template-columns: repeat(var(--sm-cols, 2), 1fr); /* sm - número de columnas */
  }
}

@media (min-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(var(--md-cols, 4), 1fr); /* md - número de columnas */
  }
}

@media (min-width: 992px) {
  .grid-container {
    grid-template-columns: repeat(var(--lg-cols, 4), 1fr); /* lg - número de columnas */
  }
}

/* Estilo para los items dentro del grid */
.grid-item {
  border: var(--borderWidth --borderStyle --borderColor, 1px solid #ddd);
  border-radius:var(--radiusWidth, 1px);
  padding: var(--padding, 1px);
}
